<a href="https://colab.research.google.com/github/chohu-boraaaa/R-practice/blob/main/R_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%94%84%EB%A0%88%EC%9E%84_%EB%B2%94%EC%A3%BC%ED%98%95_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%99%80_%EC%9A%94%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R 데이터 프레임

## 범주형 데이터와 요인(Factors)

### 명목형 변수와 요인

In [1]:
# 범주 데이터의 숫자 코딩
results <- c(1, 3, 2, 4, 3, 2, 1, 3, 2, 2)
results

 [1] 1 3 2 4 3 2 1 3 2 2

만약 results에 '1,2,3,4'만 입력되어야 한다면 5가 입력되었을 때는 문제가 있을 것이다.

In [2]:
# 5가 포함되어 문제 발생
results[1] <- 5
results

 [1] 5 3 2 4 3 2 1 3 2 2

In [3]:
mean(results)

[1] 2.7

만약 results에 '1,2,3,4'만 입력되어야 한다면 5가 입력되었을 때는 문제가 있을 것이다.
-> 평균 계산에도 문제가 있을 것이다.

#### factor()
이런 문제를 해결하기 위해 범주형 데이터 처리시 요인이라는 데이터 형태를 제공

In [5]:
attributes(results)

NULL

In [7]:
# 1부터 4까지만 유효한 숫자로 판단
RightResults <- factor(results, levels=1:4)
RightResults

 [1] <NA> 3    2    4    3    2    1    3    2    2
Levels: 1 2 3 4

In [8]:
attributes(RightResults)

$levels
[1] "1" "2" "3" "4"

$class
[1] "factor"

levels에 포함되지 않은 5의 값은 NA로 변환

In [11]:
# 1,2,3,4만 포함되도록 변경한 후 요인으로 변경
results[1] <- 1
RightResults <- factor(results, levels=1:4)
RightResults

 [1] 1 3 2 4 3 2 1 3 2 2
Levels: 1 2 3 4

In [12]:
# 요인 데이터에 4를 추가하면 문제 없음
RightResults[11] <- 4
RightResults

 [1] 1 3 2 4 3 2 1 3 2 2 4
Levels: 1 2 3 4

In [13]:
# 요인 데이터에 이미 정의된 수준이 아닌 다른 값을 추가하면 데이터는 NA로 입력됨
RightResults[12] <- 5
RightResults

Warning message in `[<-.factor`(`*tmp*`, 12, value = 5):
“invalid factor level, NA generated”

 [1] 1    3    2    4    3    2    1    3    2    2    4    <NA>
Levels: 1 2 3 4

요인 데이터를 숫자 벡터로 착각하면 안됨. 숫자 데이터가 아니라서 RightResults의 평균은 구할 수 없음

In [14]:
RightResults[12] <- 1
mean(RightResults)

Warning message in mean.default(RightResults):
“argument is not numeric or logical: returning NA”

[1] NA

#### levels()

In [15]:
levels(RightResults)

[1] "1" "2" "3" "4"

In [16]:
levels(RightResults) <- c("A", "B", "C", "D")
RightResults

 [1] A C B D C B A C B B D A
Levels: A B C D

위 결과에서 RightResults는 문자열 데이터로 변환된 것은 아니다. 요인은 내부적으로 데이터를 각각 원래 저장한 대로 자연수로 관리한다. 다만 입출력할 때만 요인에 부여된 새로운 수준인 문자로 처리할 뿐이다.

In [17]:
# 요인의 근원적 타입 확인
typeof(RightResults)

[1] "integer"

In [18]:
class(RightResults)

[1] "factor"

In [19]:
# 요인이 내부적으로 어떤 정보를 가지고 있는 확인
unclass(RightResults)

 [1] 1 3 2 4 3 2 1 3 2 2 4 1
attr(,"levels")
[1] "A" "B" "C" "D"

In [20]:
levels(RightResults)

[1] "A" "B" "C" "D"

In [21]:
# 요인은 항상 수준에 정의되어 있는 데이터 값만으로 입력되거나 출력될 수 있음
RightResults[11] <- 4

Warning message in `[<-.factor`(`*tmp*`, 11, value = 4):
“invalid factor level, NA generated”

In [22]:
RightResults[12] <- "D"
RightResults

 [1] A    C    B    D    C    B    A    C    B    B    <NA> D
Levels: A B C D